m4
autom4te.cache
stamp-h1
missing
Makefile.in
Makefile
ltmain.sh
libtool
install-sh
INSTALL
depcomp
configure
config.sub
config.status
config.h.in
config.h
config.guess
config.log
aclocal.m4
build
*.xml
.project
.autotools
.cproject
.settings
Debug
*.moc.cpp
